@model Data_Analyse_MVC.Models.AnalyseResult
@using System.Text.Json

@{
    var jsonDoc = JsonDocument.Parse(Model.ResultJson);
}

<h4>نتیجه تحلیل فایل: @Model.UploadFile.OriginalFileName</h4>
<p><strong>تاریخ تحلیل:</strong> @Model.CreatedAtUtc.ToLocalTime()</p>

<h5>تحلیل عددی</h5>
@if (jsonDoc.RootElement.TryGetProperty("NumericAnalysis", out var numericAnalyse) && numericAnalyse.ValueKind != JsonValueKind.Null)
{
    <ul>
        <li>تعداد اعداد: @numericAnalyse.GetProperty("TotalNumbers").GetInt32()</li>
        <li>جمع: @numericAnalyse.GetProperty("Sum").GetDouble()</li>
        <li>میانگین: @numericAnalyse.GetProperty("Average").GetDouble()</li>
        <li>کمینه: @numericAnalyse.GetProperty("Min").GetDouble()</li>
        <li>بیشینه: @numericAnalyse.GetProperty("Max").GetDouble()</li>
        <li>
            مقادیر: @string.Join(", ", numericAnalyse.GetProperty("Values").EnumerateArray().Select(v => v.GetDouble()))
        </li>
    </ul>
}
else
{
    <p>فایل عددی ندارد یا تحلیل انجام نشده است.</p>
}

<h5>تحلیل متنی</h5>
@if (jsonDoc.RootElement.TryGetProperty("TextAnalysis", out var textAnalyse) && textAnalyse.ValueKind != JsonValueKind.Null)
{
    <ul>
        <li>تعداد کلمات: @textAnalyse.GetProperty("TotalWords").GetInt32()</li>
        <li>تعداد جملات: @textAnalyse.GetProperty("TotalSentences").GetInt32()</li>
        <li>
            ده کلمه پرتکرار:
            @string.Join(", ", textAnalyse.GetProperty("TopWords").EnumerateArray().Select(w => w.GetProperty("Key").GetString()))
        </li>
    </ul>
}
